

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<link rel="icon" type="image/x-icon" href="../amitkhurana/images/favicon.png"/>
<title>Bad Credit Mortgage Mississauga - Amit Khurana</title>
    <meta name="keywords" content=" bad credit loans Toronto, Bad Credit Mortgage Mississauga" />
    <meta name="description" content="Looking for mortgages for bad credit? Contact Amit Khurana, an experienced Mortgage agent will help you to fulfill your requirements. Reach Us Today! "/>
	 <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="Krwu5wmtrY6CDxKEg-V3Q6OEggfd8q8pKVPgeul-Kl8"/>
    <!-- Title -->
    <meta name="viewport" content="width=device-width">
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "ProfessionalService",
        "name": "AmitKhurana",
        "url": "http://amitkhurana.ca",
        "email" : "amit_khurana@centum.ca",
        "telephone": "6473412785",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "33 Mclaughlin Road North",
        "addressLocality": "Brampton",
        "addressRegion": "ON",
        "postalCode": "L6X 1Y8",
        "addressCountry": "CA"
        },
        "openingHoursSpecification": {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
        ],
        "opens": "09:00",
        "closes": "18:00"
        }
        }
    </script>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->
    <!--<link rel="shortcut icon" type="image/png" href="images/fevicon.png">-->
    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <link href="~/amitkhurana/css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <link href="~/amitkhurana/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <link href="~/amitkhurana/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** icofont CSS *** ======================= -->
    <link href="~/amitkhurana/css/icofont.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Owl Carousel CSS *** ================== -->
    <link href="~/amitkhurana/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Main CSS *** ========================== -->

    <link href="~/amitkhurana/css/custom/style.css" rel="stylesheet" type="text/css">


    <![endif]-->
	 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128266398-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-128266398-1');
</script> 

</head>

<body class="service_detail2">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->
    <!-- ==========================================================
        1.*Header_area start
    ============================================================ -->
    <header>
        <div class="romana_header_top">
            <div class="romana_header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-8">
                            <div class="romana_header_top_left">
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope"></i>amit_khurana@centum.ca</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>647-341-2785</a></li>
                                    <!-- <li><a href="#"><i class="icofont icofont-clock-time"></i>Mon-sat(10am-4pm)</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-md-5 col-sm-4">
                            <div class="romana_header_top_right text-right">
                                <a style="background-color:white; color:black;" href="~/images/CENTUM_Indigo_Mortgage-Application.pdf" target="_blank">Mortgage Application</a>
                                <a href="../Home/Appointment">Make an Appointment</a>
                            </div>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
            <!-- container End -->
        </div>
        <!-- Header-Top End -->
        <div class="romana_header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="romana_logo">
                            <a href="../Home/index"><img src="~/amitkhurana/images/logo.png" alt="Centum Indigo Mortgage Corp"></a>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only"></span>
                                <i class="fa fa-navicon"></i>
                            </button>
                        </div>
                        <nav id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class=""><a href="../Home/Index">home</a></li>
                                <li class=""><a href="../Home/About" >about us</a></li>

                                <li>
                                    <a href="#">My expertise</a>
                                   <ul class="dropdown-menu">
                                        <li><a href="../Home/mortgage_rates">Better mortgage rates</a></li>
                                        <li><a href="../Home/refinancing">Refinancing</a></li>
                                        <li><a href="../Home/debt_consolidation">debt_consolidation</a></li>
                                        <li><a href="../Home/private_funds">Private funds</a></li>
                                        <li><a href="../Home/mortgages">First & Second Mortgages</a></li>
                                        <li><a href="../Home/bruise_credit">Mortgages with bruise credit</a></li>
                                        <li><a href="../Home/lease_programme">Lease to Own programme</a></li>
                                        <li><a href="../Home/mortgage_loan">Better mortgage loans</a></li>
                                        <li><a href="../Home/mortgage_broker">Mortgage broker</a></li>
                                    </ul>
                                    <!-- dropdown-menu End -->
                                <li>
                                    <a href="#">mortgage calculators</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../Home/land_transfer">Land Transfer Tax</a></li>
                                        <li><a href="../Home/mortgage_payment">Mortgage Payment</a></li>
                                        <li><a href="../Home/cmhc_premium">CMHC Premium</a></li>
                                    </ul>
                                    <!-- dropdown-menu End -->
                                </li>
                                <li><a href="../Home/news">mortgage news</a></li>
                                <li><a href="../Home/Contact">Contact</a></li>
                            </ul>
                            <!-- mega-menu End -->
                        </nav>
                        <!-- nav End -->
                        <!-- <ul class="cartSearch">
                         <li class="search"><a href="#"><i class="icofont icofont-search"></i></a></li>
                         <li class="cart"><a href="cart.html"><i class="icofont icofont-cart-alt"></i><span>1</span></a></li>
                     </ul>-->
                        <!-- cartSearch End -->
                        <form action="#" class="searchForm">
                            <i class="icofont icofont-close"></i>
                            <input type="search" placeholder="Search now">
                            <input type="submit" value="&#xeded;">
                        </form>
                        <!-- searchForm End -->
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
        <!-- Header Bottom End -->
    </header>
    <!-- Header End -->
    <!-- ==========================================================
    2.*Hero_area start
    ============================================================ -->
    <div class="romana_allPage_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_allPage_text text-center">
                        <h1>My expertise</h1>
                        <ol class="breadcrumb">
                            <li><a href="../Home/Index">Home</a><span></span></li>
                            <li class="active"><a href="../Home/appointment">Make an Appointment</a></li>
                        </ol>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- ==========================================================
    3.*romana_service_detail_wrap start
    ============================================================ -->
    <div class="romana_service_detail_wrap romana_section_padding project_detail_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <aside class="romana_all_page_sidebar aside_left">
                        <div class="romana_sidebar_top">
                            <h2>My Expertise are</h2>
                            <ul>
                                <li><a href="../Home/mortgage_rates">Better mortgage rates</a></li>
                                <li><a href="../Home/refinancing">Refinancing</a></li>
                                <li><a href="../Home/debt_consolidation">Debt consolidation</a></li>
                                <li><a href="../Home/private_funds">Private funds</a></li>
                                <li><a href="../Home/mortgages">First & Second Mortgages</a></li>
                                <li class="active"><a href="../Home/bruise_credit">Mortgages with bruise credit</a></li>
                                <li><a href="../Home/lease_programme">Lease to Own programme</a></li>
                                <li><a href="../Home/mortgage_loan">Better mortgage loans</a></li>
                                <li><a href="../Home/mortgage_broker">Mortgage broker</a></li>
                            </ul>
                        </div>
                        <div class="service_detail3_img hidden-xs hidden-sm">
                            <img src="~/amitkhurana/images/service_detail_man2.png" alt="amit khurana">


                        </div>
                        <div class="romana_sidebar_three">
                            <h3>feel free to contact me!</h3>
                            <h3>Amit Khurana</h3>
                            <p>Mortgage Agent</p>
                            <a href="../Home/contact" class="common_shadow_hover">Contact us</a>
                        </div>

                        <!--<div class="romana_sidebar_bottom">
                            <h2>BROCHURE</h2>
                            <ul>
                                <li><a href="#">Download .pdf  <span><i class="icofont icofont-file-pdf"></i></span></a></li>
                                <li><a href="#">Download .doc  <span><i class="icofont icofont-file-document"></i></span></a></li>
                            </ul>
                        </div>-->

                    </aside>
                </div>
                <div class="col-sm-8">
                    <div class="romana_serviceDetail_text">
                        <div class="romana_service_singleImg2">
                            <img src="~/amitkhurana/images/service_detail_img9.jpg" alt="mortgage financing mississauga">
                            <div class="romana_serviceImg_text2">
                                <h3>MORTGAGE WITH BRUISE CREDIT</h3>
                            </div>
                        </div>

                    </div>
                    <div class="romana_project_detail_right_text">
                        <p>It is quite difficult to get a new mortgage or loan with a bruised credit. When you have this, banks may turn you down for loans and mortgage brokers may send you away without approvals.</p>
                        <p>The good thing is that there is still a silver lining here. We shall help you to find loans even when your income level is below-par and if you have a bruised credit!</p>
                        <h3>What is a Bruised Credit Mortgage?</h3>
                        <p>A Bad Credit Mortgage is sometimes known as Bruised Credit Mortgage. It is a loan sanctioned to people who have a bad credit score or one which is well under the national average. In the current times, mortgages are granted by lenders to only those whose credit score is higher than 650. And this is just the beginning. There are lenders who desire a credit score of more than 700.</p>
                        <p>A bruised credit is a good idea for someone who has a bad credit but is still capable of paying back his or her monthly mortgage payments on the right time. This means that as long as one would not default on the loan, there is a good chance to get the mortgage.</p>
                        <h3>How can Credit be Bruised?</h3>
                        <p>It is difficult to maintain a high credit score for everyone. There can be unforeseen situations or circumstances which demand immediate and unplanned expenses. Some of these situations are funeral expenses, tuition fee hikes, bad investments and property damage repairs. You credit becomes Bruised when you are not able to pay back your bills on time.</p>
                        <h3>What are the Benefits of Obtaining a Bruised Credit Mortgage?</h3>
                        <p>It allows you refinance your property and saves you from declaring bankruptcy. With this, you can consolidate the loan with your high interest debts. It can be used to refinance the property and uncover its equity value for meeting other expenses.</p>
                        <p>If you have a Bruised Credit, <b>call us today at 1-647-341-2785</b> so that we can help you at the soonest.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========================================================
    4.*Get_Consult_area start
    ============================================================ -->
    <div class="romana_get_consult_area">
        <div class="container">
            <div class="row ">
                <div class="col-sm-2 col-md-offset-1 col-xs-12">
                    <div class="romana_consult_left">
                        <h3>Get a free consult </h3>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="romana_consult_middle">
                        <p>We love help you to grow your business</p>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-3 col-xs-12">
                    <div class="romana_consult_btn common_shadow_hover">
                        <a href="../Home/appointment">Make an Appointment</a>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- ==================================================
    5.*Footer_area start
    =================================================== -->
    <footer class="romana_footer_area">
        <div class="romana_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="romana_footer_left">
                            <div class="romna_footer_logo">
                                <h2>Amit khurana</h2>
                                <!-- <a href="#"><img src="images/footer_logo.png" alt="footer logo"></a>-->
                            </div>
                            <p>At CENTUM Canada, we've been successfully delivering the best rate for tens of thousands of satisfied clients.</p>
                            <div class="romana_footer_social_link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="romana_important_link">
                            <h2>important links</h2>
                            <ul>
                                <li><a href="../Home/Index">home</a></li>
                                <li><a href="../Home/About">about us</a></li>
                                <li><a href="../Home/service">services</a></li>
                            </ul>
                        </div>
                        <div class="romana_important_link2">
                            <ul>
                                <li><a href="../Home/news">news</a></li>
                                <li><a href="../Home/Contact">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="romana_recent_projects">
                            <h2>Our Services</h2>
                            <a href="../Home/mortgage_rates">
                                <img src="~/amitkhurana/images/footer_img1.png" alt="BETTER-MORTGAGE-RATES">
                            </a>

                            <a href="../Home/refinancing">
                                <img src="~/amitkhurana/images/footer_img2.png" alt="Residential-Mortgage-Refinancing-Brokers">
                            </a>
                            <a href="../Home/debt_consolidation">
                                <img src="~/amitkhurana/images/footer_img3.png" alt="CONSOLIDATE-YOUR-DEBT-PAYMENTS">
                            </a>
                            <a href="../Home/private_funds">
                                <img src="~/amitkhurana/images/footer_img4.png" alt="private_funds">
                            </a>
                            <a href="../Home/mortgages">
                                <img src="~/amitkhurana/images/footer_img5.png" alt="mortgages">
                            </a>
                            <a href="../Home/bruise_credit">
                                <img src="~/amitkhurana/images/footer_img6.png" alt="bruise_credit">
                            </a>
                            <a href="../Home/lease_programme">
                                <img src="~/amitkhurana/images/footer_img7.png" alt="lease_programme">
                            </a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <div class="privacy_policy_link">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Privacy Policy: &nbsp;&nbsp;&nbsp;*Subject to approved credit, income verification and meeting lending credit granting criteria. Applies to residential mortgages only and some conditions may apply. O.A.C., E.O.E</p>
                        </div>
                        <!-- column End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content text-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Amit Khurana 2018 &copy; All right reserved</p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>
        <!-- footer_bottom End -->
    </footer>
    <!-- ======================================================
        ***Js Files***
    =========================================================== -->
    <!-- ================= Main Js ==================== -->
    <script src="~/amitkhurana/js/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- ================= Bootstrap min Js =========== -->
    <script src="~/amitkhurana/js/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="~/amitkhurana/js/owl.carousel.min.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="~/amitkhurana/js/active.js"></script>

</body>

</html>